:host {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 64px;
	background-color: var(--primary-color);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.title {
	grid-column-start: 2;
	color: white;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	display: flex;
	justify-self: center;
	align-items: center;
}

.cartButton {
	justify-self: end;
	padding: 10px 12px;
	margin: 1rem;
	width: 112px;
	height: 36px;

	border: 1px solid white;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0);
	color: white;
}
